.blue {
    color: blue;
}
th {
    background-color: rgb(238, 237, 237);
}
/*стилі для таблиці*/
.table-history {
border-collapse: collapse;
width: 75%;
border: 1px solid black
}
main,table {
}
main,article {
    width: 45%;
    margin: auto;
    padding: 30px;
    background-color: rgb(222, 221, 221);
}
.table-history th {
    background-color: rgb(255, 255, 255);
}
body {
    font-family:sans-serif;
    font-size: 14px;
}
.float-right {
    float: right;
}
.w-20 {
    width: 20%;
}
.hr {
    width: 100%;
}